/* import fonts from fonts.css file   */
@import url(../fonts);

.navbar-brand{
	font-family: 'Dancing Script', cursive;
}


.nav-link{
	font-family: 'Noto Sans TC', sans-serif;
}
.card-title{
	font-family: 'Noto Sans TC', sans-serif;
}
.card-text{
	font-family: 'Noto Sans TC', sans-serif;
}

